<!doctype html>
<html>
   <head>
      <style type="text/css">
         table a:link {
             color: #666;
             font-weight: bold;
             text-decoration:none;
         }
         table a:visited {
             color: #999999;
             font-weight:bold;
             text-decoration:none;
         }
         table a:active,
         table a:hover {
             color: #bd5a35;
             text-decoration:underline;
         }
         table {
             font-family:Arial, Helvetica, sans-serif;
             color:#666;
             font-size:12px;
             background:#eaebec;
             border:#ccc 1px solid;
             top:100px;
             border-radius:3px;
             border-collapse:collapse; border-spacing: 0; 
             position: absolute;
             box-shadow: 0 1px 2px #d1d1d1;
         }
         table th {
             padding:10px 10px 10px 10px;
             border-top:0;
             border-bottom:1px solid #e0e0e0;
             border-left: 1px solid #e0e0e0;

             background: #ededed;
         }
         table th:first-child {
             text-align: left;
         }
         table tr:first-child th:first-child {
             border-top-left-radius:3px;
             border-left: 0;
         }
         table tr:first-child th:last-child {
             border-top-right-radius:3px;
         }
         table tr {
             text-align: center;
         }
         table td:first-child {
             text-align: left;
             border-left: 0;
         }
         table td {
             padding:10px;
             border-bottom:1px solid #e0e0e0;
             border-left: 1px solid #e0e0e0;
             background: #fafafa;
         }
         table tr:last-child td {
             border-bottom:0;
         }
         table tr:last-child td:first-child {
             border-bottom-left-radius:3px;
         }
         table tr:last-child td:last-child {
             border-bottom-right-radius:3px;
         }
         table tr:hover td {
             background: #f2f2f2;

         }
         table th, table td {
             width: 160px;

         }
         #wrapper {
             width: 740px;
             height: 300px;
             overflow-x: scroll;
             overflow-y: scroll;
         }
         table thead
         {
             position:fixed;
             top:40px;
         }
         table tbody
         {
             position:relative;
             margin-top: 40px;
         }
      </style>
   </head> 
   <body>
      <a href=/mldev/VBrain_temp.wsgi/1m><input type=”button” value="1m data"></a>
      <a href=/mldev/VBrain_temp.wsgi/5m><input type=”button” value="5m data"></a>
      <a href=/mldev/VBrain_temp.wsgi/15m><input type=”button” value="15m data"></a>
      <a href=/mldev/VBrain_temp.wsgi/30m><input type=”button” value="30m data"></a>
      <!-- <a href=/mldev/VBrain_temp.wsgi/1h><input type=”button” value="1h data"></a>
      <a href=/mldev/VBrain_temp.wsgi/4h><input type=”button” value="4h data"></a> -->
      <table border = 1>
         <thead>
            <tr>
               {% for key in listed %}
                     <th> {{ key }} </th>
               {% endfor %}   
            </tr>
         </thead>
         <tbody>
            {% for i in range(result['Base Asset(1)/Quote Asset(2)']|length) %}
               <tr>
               {% for key in listed %}
                     <td> {{ result[key][i] }} </td>
               {% endfor %}   
               </tr>
            {% endfor %}
         </tbody>
      </table>
      
   </body>
</html>